<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Medical-app</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="css/style.css" />
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>

  <!-- <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script> -->

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAVnBGATlGX07eKjxsMgJnCz4UiCBm3pUA",
      authDomain: "final-year-project-306309.firebaseapp.com",
      projectId: "final-year-project-306309",
      storageBucket: "final-year-project-306309.appspot.com",
      messagingSenderId: "458749251140",
      appId: "1:458749251140:web:ccf94123b99e268cb53611",
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
  <script src="js/auth.js" defer></script>
</head>
