<!DOCTYPE html>
<html>
  <%- include("partials/header.ejs") %>
  <body>
    <div>
      <ul>
        <li>
          <a href="/patient">Patient</a>
        </li>
        <li>
          <a href="/medicalStaff">Medical Staff</a>
        </li>
        <li>
          <a href="/logout">Clear Cookie</a>
        </li>
      </ul>
      <p class="ml-3 text-light"><strong>NOTE:</strong> clearing cookie will log you out</p>
    </div>
  </body>
</html>
