<!DOCTYPE html>
<html>
  <%- include("partials/header.ejs") %>

  <body>
    <div style="display: flex; justify-content: center; margin-top: 1rem;">
      <img src="img/iiit.png" alt="Cinque Terre" width="70" height="70" />
    </div>
    <div class="animate">
      <img src="img/icon.png" alt="Cinque Terre" width="350" height="350" />
      <p><b>IIITD&M KURNOOL CLINIC FORM</b></p>
      <button id="login" class="btn btn-dark btn-lg">LOGIN</button>
      <!-- <button id="logout" class="btn btn-dark btn-lg">LOGOUT</button> -->
    </div>
  </body>
</html>
