<!DOCTYPE html>
<html>
  <%- include("partials/header.ejs") %>

  <body>
    <div class="animate">
      <img src="img/icon.png" alt="Cinque Terre" width="350" height="350" />
      <p><b>IIITDM KURNOOL CLINIC FORM</b></p>
      <button id="login" class="btn btn-dark btn-lg">LOGIN</button>
      <!-- <button id="logout" class="btn btn-dark btn-lg">LOGOUT</button> -->
    </div>
  </body>
</html>
