<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <body>

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #1e212d;">
      <ul class="navbar-row ml-auto" style="margin-bottom: 0px;">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 120px;" href="/logout">Log Out</a>
        </li>
      </ul>
    </nav>
    <br>
    <br>
    <!-- form start -->
    <div class="container mt-5">
      <form class="card mt-3 p-4" action="/patient" method="post">
        <div class="mb-3">
          <label for="symptoms"><b>Symptoms</b></label>
          <textarea
            class="form-control"
            id="symptoms"
            name="symptoms"
            cols="7"
            rows="3"
            maxlength="30"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="symptomDays">
            <b>Days with symptoms</b>
          </label>
          <input
            class="form-control"
            id="symptomDays"
            name="symptomDays"
            type="number"
            min="1"
            max="90"
            required
          />
        </div>
        <div class="mb-3">
          <label for="deliverTo" class="form-label"><b>Deliver To</b></label>
          <select name="deliverTo" id="deliverTo" class="form-select form-control" required>
            <option value="Boys Hostel">Boys Hostel</option>
            <option value="Girls Hostel">Girls Hostel</option>
            <option value="Academic Block">Academic Block</option>
          </select>
        </div>
        <div class="butn">
        <button type="submit" class="buttons btn btn-dark">submit</button>
      </div>
      </form>
    </div>
    <!-- form end -->
    <div class="container mb-5">
      <h2 class="text-center mt-5"><b>PENDING REQUESTS</b></h2>
      <% if (isEmpty) { %>
      <div class="card text-center mt-5">
        <p><i>You have no pending requests.</i></p>
      </div>
      <% } else { %> <% records.forEach((element) => { %> 
      <% const {symptoms, symptomDays, deliverTo} = element %>
      <div class="card mx-auto mt-5 p-2">
        <div class="mb-3 row">
          <label for="deliverTo" class="col-sm-3 col-form-label">
           <b> Symptoms:</b>
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              id="symptoms"
              value="<%= symptoms %>"
              disabled
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="symptomDays" class="col-sm-3 col-form-label">
            <b>Days with symptoms:</b>
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              id="symptomDays"
              value="<%= symptomDays %>"
              disabled
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="deliverTo" class="col-sm-3 col-form-label">
          <b> Deliver To:</b>
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control-plaintext"
              id="deliverTo"
              value="<%= deliverTo %>"
              disabled
            />
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </body>
</html>